
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-body{
  padding: 18%;

background: rgb(237,236,241);
background: linear-gradient(340deg, rgb(237, 236, 241) 0%, rgb(134, 152, 135) 46%, rgb(232, 236, 231) 61%, rgb(157, 237, 252) 100%);
border-radius: 12px;
}


